.btnBackTop{
    position: fixed;
    right: 25px;
    bottom: 50px;
    border: none;
    background-color: #226fb7;
    color: white;
    border-radius: 100%;
    padding: 6px 12px;
    font-size: 18px;
}
